@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.landing-page {
    min-height: 100vh;
    background: linear-gradient(155deg,
            #FFF176 0%,
            #FFD54F 40%,
            #c0dfee 60%,
            #7BD5FF 100%);
}

.main-container {
    max-width: 1500px;

    /* Centers the container horizontally on the page */
    margin-left: auto;
    margin-right: auto;

    padding-left: 2rem;
    padding-right: 2rem;
}

.pokeball-decoration {
    position: absolute;
    opacity: 0.8;
}

/*Unique positions for EACH pokeball*/
.pos-1 {
    top: 16%;
    left: 10%;
    width: 70px;
}

.pos-2 {
    top: 5%;
    right: 15%;
    width: 50px;
}

.pos-3 {
    top: 150%;
    left: 15%;
    width: 70px;
}

.pos-4 {
    top: 80%;
    left: 5%;
    width: 100px;
}

.pos-5 {
    top: 10%;
    left: 45%;
    width: 40px;
}

.pos-6 {
    top: 35%;
    right: 45%;
    width: 70px;
}

.pos-7 {
    top: 25%;
    right: 35%;
    width: 34px;
}

.pos-8 {
    top: 85%;
    left: 90%;
    width: 78px;
}

.pos-9 {
    bottom: 15%;
    left: 50%;
    width: 50px;
}

.pos-10 {
    bottom: -65%;
    left: 80%;
    width: 50px;
}

.pos-11 {
    bottom: -85%;
    left: 69%;
    width: 80px;
}

.pos-12 {
    bottom: -35%;
    left: 3%;
    width: 50px;
}

.pos-13 {
    bottom: -95%;
    left: 90%;
    width: 50px;
}

.pos-14 {
    bottom: -95%;
    left: 10%;
    width: 70px;
}

.pos-15 {
    left: 0%;
    width: 90px;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--yellow);
    background-attachment: fixed;
    color: var(--dark-text);
}

/* Header */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    padding-top: 30px;
}

.get-started-button {
    background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 1;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 600;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
    gap: 2rem;
}

.hero-text {
    flex: 1;
}

.highlighted-text {
    font-size: 0.6rem;
    background-color: #FFC300;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 600;
}

.white {
    color: #ffffff;
}

.red {
    color: #F03636;
}

.blue {
    color: #407CEA;
}

.hero-text h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.gradient-separator {
    width: 250px;
    height: 10px;
    background: linear-gradient(to right,
            #FF0909 0%,
            #FFD54F 50%,
            #407CEA 75%,
            #81D4FA 100%);
    border-radius: 10px;
    margin-top: -20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-text p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.6;
    max-width: 500px;
    margin-bottom: 2rem;
}

.hero-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-red-outline {
    background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}


.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
    margin-top: 100px;
    max-width: 650px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Features Section */
.features {
    text-align: center;
    padding: 5rem 0;
}

.features h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.gradient-separator-footer {
    /*To center the separator*/
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 5px;
    background: linear-gradient(to right,
            #FF0909 0%,
            #FFD54F 50%,
            #407CEA 75%,
            #81D4FA 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-underline {
    width: 80px;
    height: 5px;
    background-color: var(--red);
    margin: 0 auto 2rem;
    border-radius: 5px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.feature-card {
    background-color: white;
    margin-right: 20px;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.feature-icon {
    height: 60px;
}

.feature-card h3 {
    margin-bottom: 0.5 rem;
}

/* Call to Action Section */
.cta {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    background-color: white;
    border-radius: 20px;
    width: 700px;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.cta-box h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.cta-box p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #6c757d;
}

.btn {
    background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 3rem 1rem;
    color: var(--dark-text);
    background: var(--blue-gradient-end);
}

.footer-logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-logo {
    margin-right: 15px;
    height: auto;
    width: 40px;
}

.footer h3 {
    color: white;
}

.footer p {
    font-size: 0.9rem;
    color: white;
}

.cta a.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
}

.pokeball-decoration {
    pointer-events: none;
}