.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    background-image: radial-gradient(circle at 10% 50%, #FDE047 45%, #47d3fd 100%);
}

.login-card {
    position: relative;
    background: white;
    padding: 3rem;
    border-radius: 24px;
    border-color: black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    z-index: 1;
}

/* --- Decorative Pikachu --- */
.pikachu-peeking {
    position: absolute;
    top: -130px;
    right: -170px;
    width: 250px;
    z-index: 0;

}

/* --- Form Typography --- */
.login-card h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.login-card .subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #6c757d;
}

/* --- Input Fields --- */
.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.2s;
}

.input-group input:focus {
    outline: none;
    border-color: #0075BE;
}

/* --- Login Button --- */
.login-button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.login-button:hover {
    transform: translateY(-2px);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #adb5bd;
    margin: 1.5rem 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
}

.separator:not(:empty)::before {
    margin-right: .5em;
}

.separator:not(:empty)::after {
    margin-left: .5em;
}

.signup-link {
    color: #6c757d;
}

.signup-link a {
    color: #0075BE;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.pos-1 {
    top: 12%;
    left: 10%;
    width: 70px;
}

.pos-2 {
    top: 5%;
    right: 15%;
    width: 50px;
}

.pos-3 {
    top: 70%;
    left: 15%;
    width: 70px;
}

.pos-4 {
    top: 80%;
    left: 5%;
    width: 100px;
}

.pos-5 {
    top: 10%;
    left: 45%;
    width: 40px;
}

.pos-6 {
    top: 35%;
    right: 45%;
    width: 70px;
    z-index:-1;
}

.pos-7 {
    top: 30%;
    right: 35%;
    width: 34px;
    z-index:-1;
}

.pos-8 {
    top: 85%;
    left: 90%;
    width: 78px;
}

.pos-9 {
    bottom: 15%;
    left: 50%;
    width: 50px;
}